{% extends "layout.html" %}
{% block body %}
<div class="well" style="margin-left: auto;margin-right: auto;width: 720px;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="height:50px;">
            <span>
                <font size="5">{{folder[2]}}</font>
            </span>
            <span class="badge">虚拟机数量:{{c_vm}}</span>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <td>虚拟机名称</td>
                        <td>状态</td>
                        <td>CPU</td>
                        <td>内存</td>
                        <td>OS</td>
                    </tr>
                </thead>
                <tbody>
                    {% for vm in vms %}
                    <tr class="onerow" id="{{vm[1]}}">
                        <td ><a href="{{url_for('vsphere_vm_detail')}}?vmid={{vm[1]}}">{{vm[2]}}</a></td>
                        <td ><span class="badge">{{vm[5]}}</span></td>
                        <td>{{vm[6]}}</td>
                        <td>{{vm[7]/1024}}G</td>
                        <td>{{vm[8]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="text-align:center;">数据更新时间:{{version[1]}};</br>数据version id:{{version[0]}};</div>
{% endblock %}