{% extends "layout.html" %}
{% block body %}
<div class="well" style="margin-left: auto;margin-right: auto;width: 720px;">
    <div class="panel panel-primary">
            <div class="panel-heading" style="height:50px;">
                <span><font size="5">Network列表</font></span>
                <span class="badge">数量:{{networks|length}}</span>
                <button id="btn_search" type="button" class="btn btn-success nopadding pull-right">Search</button>
                <input id="input_search" type="text" class="form-control pull-right input-sm" style="width:100px;height:33px;"/>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Network名称</td>
                            <td>Network类型</td>
                            <td class="pull-right">数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for n in networks %}
                        <tr class="onerow" id="{{n[0]}}">
                            <td ><a href="{{url_for('vsphere_network_list')}}?networkid={{n[0]}}">{{n[1]}}</a></td>
                            <td ><span class="">{{n[2]}}</span></td>
                            <td ><span class="badge pull-right">{{n[3]}}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
<div style="text-align:center;">数据更新时间:{{version[1]}};</br>数据version id:{{version[0]}};</div>
{% endblock %}