{% extends "layout.html" %}
{% block body %}
<div class="well" style="margin-left: auto;margin-right: auto;width: 720px;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="height:50px;">
            <span>
                <font size="5">{{vminfo[2]}}</font>
            </span>
            <a class="btn btn-warning pull-right" href="{{url_for('vsphere_performance_detail')}}?type=vm&moid={{vminfo.vmid}}">查看VM性能</a>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                <tr>
                    <td>虚拟机名</td>
                    <td>{{vminfo[2]}}</td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>{{vminfo[5]}}</td>
                </tr>
                <tr>
                    <td>所属项目</td>
                    <td>{{zoneinfo[2]}}{%if projectinfo%}-{{projectinfo[2]}}{%endif%}</td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>{{vminfo[8]}}</td>
                </tr>
                <tr>
                    <td>CPU</td>
                    <td>{{vminfo[6]}}</td>
                </tr>
                <tr>
                    <td>内存</td>
                    <td>{{vminfo[7]/1024}} GB</td>
                </tr>
                </tbody>
            </table>
            <div class="panel panel-primary">
                <div class="panel-heading" id="panel-hostlist-head">物理机信息</div>
                <div class="panel-body" id="panel-hostlist-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>名称</td>
                                <td>集群</td>
                                <td>CPU</td>
                                <td>内存</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="{{url_for('vsphere_host_detail')}}?hostid={{hostinfo[1]}}">{{hostinfo[2]}}</a></td>
                                <td><a href="{{url_for('vsphere_host_list')}}?domainid={{hostinfo[3]}}">{{hostinfo[4]}}</a></td>
                                <td>{{hostinfo[5]}}</td>
                                <td>{{(hostinfo[6]/1024)|round}}GB</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading" id="panel-niclist-head"><span class="badge pull-right">{{vmnicinfo|length}}</span>网卡信息</div>
                <div class="panel-body" id="panel-niclist-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>IP</td>
                                <td>MAC地址</td>
                                <td>Network类型</td>
                            </tr>
                        </thead>
                        <tbody>
                            {%for n in vmnicinfo%}
                            <tr>
                                <td><a href="{{url_for('vsphere_network_list')}}?networkid={{n[3]}}">{{n[4]}}</a></td>
                                <td>{{n[5]}}</td>
                                <td>{{n[6]}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center;">数据更新时间:{{version[1]}};</br>数据version id:{{version[0]}};</div>
{% endblock %}